body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  margin: 2px 2px;
}

.navbar {
  padding-top: 5px;
  text-decoration: none;
  list-style: none;
}

.navbar-nav {
  display: inline-flex;
}

.container {
  max-width: 960px
}